body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bar {
    height: 50px;
    width: 100%;
    background: #3a3633;
    color: #fff;
    position:fixed;
}
#navb{
    top:0;
    z-index: 1;
}
#footb{
    bottom:0;
    background-color: pink;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  flex-grow: 1;
}


img{
    width: 200px;
    height: 200px;
    border: 2px dashed red;
    margin: 0 auto;
}

.features{
    justify-content: space-evenly;
    width: 100%;
}
